.custom-toolbar{
    
    margin: 1rem 1rem;
    display: flex;
    justify-content: space-between;
    
}

.week-button{
    background-color: #4F46E5;
    padding: 0.5rem 1.5rem;
    color: white;
    border: none;
    border-radius: 5px;
}

.filters{
    display: flex;
    gap: 1rem;
}